
{% extends 'base.html' %}
{% block title %} Nutri.app {% endblock %}
{% block styles %}
{{super()}}
{% endblock %}

{% block header %}{% include 'header.html' %} {% endblock %}
<!-- Main Content -->
<div class="container">

{% block content %}
<section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h1 class="page-section-heading text-center text-uppercase text-success mb-0">Why Nutri?</h1>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line bg-success"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-circle-info text-success bg-light"></i></div>
                    <div class="divider-custom-line bg-success"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <div class="col-md-4 col-lg-4 mb-5 mt-5 text-center">
                       <i class="fa-solid fa-dollar-sign fa-5x text-success"></i>
                        <h3 class="text-center text-success mt-4">Free to use!</h3>
                        <p class="text-center text-success mt-4">Nutri app is a free of charge app, you can use all the functions for free without any restrictions.</p>
                    </div>
                     <div class="col-md-4 col-lg-4 mb-5 mt-5 text-center">
                       <i class="fa-solid fa-server fa-5x text-success"></i>
                        <h3 class="text-center text-success mt-4">Accurate nutrition data</h3>
                        <p class="text-center text-success mt-4">Be confident that the food you log has the correct nutrition data. We verify every food submission for accuracy.</p>
                    </div>

                    <div class="col-md-4 col-lg-4 mb-5 mt-5 text-center">
                       <i class="fa-solid fa-lock fa-5x text-success"></i>
                        <h3 class="text-center text-success mt-4">Data privacy & security</h3>
                        <p class="text-center text-success mt-4">We take the security of our users' accounts seriously - we will never sell your account data to third parties.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section-->
        <section class="page-section bg-success text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Discover your nutrition.</h2>
                <p class="text-center text-white">Cronometer encourages you to not just count your calories but to focus on your nutrition as a whole</p>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                   <div class="col-md-4 col-lg-4 mb-5 mt-5 text-center">
                       <i class="fa-solid fa-heart-pulse fa-5x text-light"></i>
                        <h3 class="text-center text-light mt-4">Develop healthy habits</h3>
                        <p class="text-center text-light mt-4">The application encourages regular use, making it easier to get used to</p>
                    </div>
                     <div class="col-md-4 col-lg-4 mb-5 mt-5 text-center">
                       <i class="fa-solid fa-circle-user fa-5x text-light"></i>
                        <h3 class="text-center text-light mt-4">Easy to use</h3>
                        <p class="text-center text-light mt-4">Our application is straightforward, which makes it very easy to use and intuitive</p>
                    </div>

                    <div class="col-md-4 col-lg-4 mb-5 mt-5 text-center">
                       <i class="fa-solid fa-folder-open fa-5x text-light"></i>
                        <h3 class="text-center text-light mt-4"> Record your progress</h3>
                        <p class="text-center text-light mt-4">Count your calories, ensure you're meeting nutrient targets, and see your progress over time</p>
                    </div>
                </div>

            </div>
        </section>
        <!-- Contact Section-->
        <section class="page-section">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-success mb-0">Reviews</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line bg-success"></div>
                    <div class="divider-custom-icon text-success"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line bg-success"></div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3>Review 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget odio eget arcu fringilla facilisis. Pellentesque id ullamcorper erat, ac volutpat metus. Mauris sit amet mi enim. Cras luctus, arcu ac vehicula maximus, dui sapien tincidunt velit, nec eleifend dolor massa id eros. Proin rutrum augue massa, nec facilisis arcu malesuada vel. Sed bibendum, est sed tempor luctus, tortor erat gravida arcu, ut ullamcorper ex neque ut elit. Donec hendrerit justo a odio pretium, et egestas massa efficitur.</p>
                    </div>

                </div>
                 <div class="row mt-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3>Review 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget odio eget arcu fringilla facilisis. Pellentesque id ullamcorper erat, ac volutpat metus. Mauris sit amet mi enim. Cras luctus, arcu ac vehicula maximus, dui sapien tincidunt velit, nec eleifend dolor massa id eros. Proin rutrum augue massa, nec facilisis arcu malesuada vel. Sed bibendum, est sed tempor luctus, tortor erat gravida arcu, ut ullamcorper ex neque ut elit. Donec hendrerit justo a odio pretium, et egestas massa efficitur.</p>
                    </div>

                </div>
                 <div class="row mt-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3>Review 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget odio eget arcu fringilla facilisis. Pellentesque id ullamcorper erat, ac volutpat metus. Mauris sit amet mi enim. Cras luctus, arcu ac vehicula maximus, dui sapien tincidunt velit, nec eleifend dolor massa id eros. Proin rutrum augue massa, nec facilisis arcu malesuada vel. Sed bibendum, est sed tempor luctus, tortor erat gravida arcu, ut ullamcorper ex neque ut elit. Donec hendrerit justo a odio pretium, et egestas massa efficitur.</p>
                    </div>

                </div>
            </div>
        </section>
</div>

{% endblock %}
