{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Join to Nutri {% endblock %}
{% block styles %}
{{super()}}
 <style>
          body {
              display: flex;
              flex-direction: column;
              min-height: 100vh;
            }
                  .footer-one-page {
              background-color: #efefef;
              flex: 0 0 50px;/*or just height:50px;*/
              margin-top: auto;
            }
    </style>
{% endblock %}

<!-- Main Content -->

{% block content %}
<div class="container">
    <div class="row mt-5" ></div>
    <div class="row mt-5" ></div>
    <div class="row mt-5" ></div>
    <div class="jumbotron jumbotron-fluid">
          <div>
            <h1 class="display-4 text-success text-center">Log in to Nutri</h1>
          </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="row faded-alert">
            <div class="col-md-12 col-lg-12 col-sm-12 ml-auto mr-auto">
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
            </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row mt-2 mb-5">
            <div class="col-lg-offset-4 col-md-offset-4 mb-2">
         {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "success"}) }}
            </div>
        </div>
</div>

{%  endblock content %}



