{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{current_user.name}} - Nutri Exercises{% endblock %}
{% block styles %}
{{super()}}
<style>
          body {
              display: flex;
              flex-direction: column;
              min-height: 100vh;
            }
          .footer-one-page {
              background-color: #efefef;
              flex: 0 0 50px;/*or just height:50px;*/
              margin-top: auto;
            }
    </style>
{% endblock %}
{% block content %}
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="container mt-5 mb-5">
     <section class="text-success">
            <div>
                <h2 class="text-success text-center">Decide what you want to do using Nutri</h2>


                <div class="row text-success text-center mt-5">
                   <div class="col-md-6 col-lg-6 mb-5 mt-5 text-center">
                       <a class="text-decoration-none" href="{{url_for('add_meal')}}">
                           <i class="fa-solid fa-circle-plus fa-5x text-success"></i>
                            <h3 class="text-center text-success mt-4">Add meal</h3>
                       </a>
                    </div>

                     <div class="col-md-6 col-lg-6 mb-5 mt-5 text-center">
                         <a class="text-decoration-none" href="{{url_for('show_meals')}}">
                           <i class="fa-solid fa-list fa-5x text-success"></i>
                            <h3 class="text-center text-success mt-4">Show your meals</h3>
                         </a>
                    </div>

                      <div class="row text-success text-center mt-5">
                        <div class="col-md-12 col-lg-12 mb-5 mt-5 text-center">
                            <a class="text-decoration-none" href="{{url_for('profile')}}">
                                <i class="fa-solid fa-angle-left fa-5x text-success"></i>
                                <h3 class="text-center text-success mt-4">Back</h3>
                            </a>
                     </div>
                 </div>

                </div>

            </div>
        </section>
</div>
{% endblock %}