{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{current_user.name}} Nutri{% endblock %}
{% block styles %}
{{super()}}
<style>
          body {
              display: flex;
              flex-direction: column;
              min-height: 100vh;
            }
                  .footer-one-page {
              background-color: #efefef;
              flex: 0 0 50px;/*or just height:50px;*/
              margin-top: auto;
            }
    </style>
{% endblock %}
{% block content %}
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="container mt-5 mb-5">
     <section class="text-success">
            <div>
                <h2 class="text-success text-center">Decide what you want to do using Nutri</h2>


                <div class="row text-success text-center mt-5">
                   <div class="col-md-4 col-lg-4 mb-5 mt-5 text-center">
                       <a class="text-decoration-none" href="{{url_for('exercises')}}">
                           <i class="fa-solid fa-person-walking fa-5x text-success"></i>
                            <h3 class="text-center text-success mt-4">Exercises</h3>
                       </a>
                    </div>

                     <div class="col-md-4 col-lg-4 mb-5 mt-5 text-center">
                         <a class="text-decoration-none" href="{{url_for('meals')}}">
                           <i class="fa-solid fa-drumstick-bite fa-5x text-success"></i>
                            <h3 class="text-center text-success mt-4">Meals</h3>
                         </a>
                    </div>

                     <div class="col-md-4 col-lg-4 mb-5 mt-5 text-center">
                         <a class="text-decoration-none" href="{{url_for('profile_info')}}">
                           <i class="fa-solid fa-fire-flame-curved fa-5x text-success"></i>
                            <h3 class="text-center text-success mt-4">Your Nutri</h3>
                         </a>
                    </div>
                </div>

            </div>
        </section>
</div>






{% endblock %}