{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{current_user.name}} - Nutri Meals{% endblock %}
{% block styles %}
{{super()}}

{% endblock %}
{% block content %}
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="container mt-5 mb-5">

    <section class="text-success">
         <div>
           <table class="table table-success">
              <thead>
                <tr>
                  <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Calories</th>
                    <th scope="col">Fat</th>
                    <th scope="col">Saturated Fat</th>
                    <th scope="col">Cholesterol</th>
                    <th scope="col">Sodium</th>
                    <th scope="col">Total Carbohydrates</th>
                    <th scope="col">Dietary Fiber</th>
                    <th scope="col">Sugars</th>
                    <th scope="col">Protein</th>
                    <th scope="col">Potassium</th>
                </tr>
              </thead>
              <tbody>
              {% for meal in meals %}
                <tr>
                  <th scope="row">1</th>
                    <td>{{meal.date}}</td>
                    <td>{{meal.name}}</td>
                    <td>{{meal.calories}}</td>
                    <td>{{meal.fat}}</td>
                    <td>{{meal.saturated_fat}}</td>
                    <td>{{meal.cholesterol}}</td>
                    <td>{{meal.sodium}}</td>
                    <td>{{meal.total_carbohydrate}}</td>
                    <td>{{meal.dietary_fiber}}</td>
                    <td>{{meal.sugars}}</td>
                    <td>{{meal.nf_protein}}</td>
                    <td>{{meal.nf_potassium}}</td>

                </tr>
              {% endfor %}
              </tbody>
            </table>
         </div>
        </section>
      <div class="row text-success text-center mt-5">
                        <div class="col-md-12 col-lg-12 mb-5 mt-5 text-center">
                            <a class="text-decoration-none" href="{{url_for('meals')}}">
                                <i class="fa-solid fa-angle-left fa-5x text-success"></i>
                                <h3 class="text-center text-success mt-4">Back</h3>
                            </a>
                     </div>
                 </div>
</div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>







{% endblock %}