{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{current_user.name}} - Nutri Meals{% endblock %}
{% block styles %}
{{super()}}
<style>
          body {
              display: flex;
              flex-direction: column;
              min-height: 100vh;
            }
          .footer-one-page {
              background-color: #efefef;
              flex: 0 0 50px;/*or just height:50px;*/
              margin-top: auto;
            }
    </style>
{% endblock %}
{% block content %}
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="container mt-5 mb-5">
{% if meals %}
    {% for meal in meals[::-1] %}
<div class="row">
    <div class="col-12">
        <h2 class="text-success display-5">
            <i class="fa-solid fa-calendar-day"></i>
            {{meal.date}}: {{meal.name}}
        </h2>
         <details class="text-success">
                      <summary>More details</summary>
                       <p>Calories: {{meal.calories}} kcal</p>
                        <p>Fat: {{meal.fat}}</p>
                        <p>Saturated fat: {{meal.saturated_fat}}</p>
                        <p>Cholesterol: {{meal.cholesterol}}</p>
                        <p>Sodium: {{meal.sodium}}</p>
                        <p>Carbohydrates: {{meal.total_carbohydrate}}</p>
                        <p>Dietary fiber: {{meal.dietary_fiber}}</p>
                        <p>Sugars: {{meal.sugars}}</p>
                        <p>Protein: {{meal.nf_protein}}</p>
                        <p>Potassium: {{meal.nf_potassium}}</p>
                     </details>
                <hr>
    </div>
</div>
    {% endfor %}
    {% else %}
    <h2 class="text-center text-success">No meals to show yet</h2>
     {% endif %}
      <div class="row text-success text-center mt-5">
                        <div class="col-md-12 col-lg-12 mb-5 mt-5 text-center">
                            <a class="text-decoration-none" href="{{url_for('meals')}}">
                                <i class="fa-solid fa-angle-left fa-5x text-success"></i>
                                <h3 class="text-center text-success mt-4">Back</h3>
                            </a>
                     </div>
                 </div>
</div>
{% endblock %}