{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{current_user.name}} - Nutri Exercises{% endblock %}
{% block styles %}
{{super()}}
<style>
          body {
              display: flex;
              flex-direction: column;
              min-height: 100vh;
            }
          .footer-one-page {
              background-color: #efefef;
              flex: 0 0 50px;/*or just height:50px;*/
              margin-top: auto;
            }
    </style>
{% endblock %}
{% block content %}
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="container mt-5 mb-5">
{% if exercises %}
     <section class="text-success">
         <div>
           <table class="table table-success">
              <thead>
                <tr>
                  <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Calories Burnt</th>
                    <th scope="col">Exercises</th>
                    <th scope="col">Duration(minutes)</th>
                </tr>
              </thead>
              <tbody>
              {% for exercise in exercises %}
                <tr>
                  <th scope="row">1</th>
                    <td>{{exercise.date}}</td>
                    <td>{{exercise.calories_burnt}}</td>
                    <td>{{exercise.name}}</td>
                    <td>{{exercise.duration}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
         </div>
        </section>
    {% else %}
    <h2 class="text-center text-success">No exercises to show yet</h2>
     {% endif %}
      <div class="row text-success text-center mt-5">
                        <div class="col-md-12 col-lg-12 mb-5 mt-5 text-center">
                            <a class="text-decoration-none" href="{{url_for('exercises')}}">
                                <i class="fa-solid fa-angle-left fa-5x text-success"></i>
                                <h3 class="text-center text-success mt-4">Back</h3>
                            </a>
                     </div>
                 </div>
</div>








{% endblock %}