{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Join to Nutri {% endblock %}
{% block styles %}
{{super()}}
{% endblock %}

<!-- Main Content -->

{% block content %}
<div class="container">
    <div class="row mt-5" ></div>
    <div class="row mt-5" ></div>
    <div class="row mt-5" ></div>
    <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4 text-success text-center">Sign up to Nutri</h1>
          </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="row">
            <div class="col-md-4 col-lg-offset-4 ml-auto mr-auto">
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row mt-2">
            <div class="col-lg-offset-4 col-md-offset-4 mb-2">
         {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "success"}) }}
            </div>
        </div>
            <div class="row mt-5" ></div>
        </div>
{%  endblock content %}

